ErrorDocument 404 "Lo sentimos, pero vas a tener que irte por donde has venido"
ErrorDocument 404 /ENLDWESProyectoDWES/error/404.html
ErrorDocument 403 /ENLDWESProyectoDWES/error/403.html
ErrorDocument 500 /ENLDWESProyectoDWES/error/500.html